.no-result-image {
  background-image: url("../assets/No-result.png");
  background-size: cover;
  width: 450px;
  height: 550px;
  margin: 0 auto;
}

.thanks-to {
  font-size: 10px;
  margin-bottom: 70px;
}

.no-photos {
  margin: 0;
  color: #ffffff;
  font: normal 30px Varela Round, sans-serif;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.no-photos.search {
  margin-top: 20px;
}

@media (max-width: 600px) {

  .no-result-image {
    background-image: url("../assets/No-result.png");
    background-size: cover;
    width: 250px;
    height: 300px;
    margin: 0 auto;
  }
}
